/* ================= MAIN ================= */
.mai1 {
  min-height: 100vh;
  color: #fff;
  font-family: 'Segoe UI', Arial, sans-serif;
}

/* ================= HERO ================= */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  padding: 100px 10%;
}

.hero-texto {
  max-width: 550px;
}

.hero-texto h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #00ff66;
}

.hero-texto p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
}
.hero-imagem img:hover{
    box-shadow: 0 0 20px  #00ff88; ;
}

.hero-imagem img{
  max-width: 480px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* ================= BOTÃO ================= */
.btn {
  display: inline-block;
  padding: 14px 36px;

  background: transparent;
  color: #00ff66;
  text-decoration: none;

  border: 2px solid #00ff66;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #00ff66;
  color: #000;
  box-shadow: 0 0 25px #00ff66;
}

/* ================= IMAGEM ================= */

/* ================= SERVIÇOS ================= */
.servicos {
  padding: 70px 10%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.card {
  padding: 35px;

  background: #050505;
  border-radius: 12px;
  border: 1px solid rgba(0, 255, 102, 0.2);
  box-shadow: 0 0 20px rgba(0, 255, 102, 0.15);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px #00ff66;
}

.card h3 {
  margin-bottom: 12px;
  color: #00ff66;
}

.card p {
  line-height: 1.5;
  color: #bbb;
}

/* ================= DIFERENCIAIS ================= */
.diferenciais {
  padding: 50px 10%;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  min-width: 200px;
  padding: 22px;

  text-align: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 255, 102, 0.2);
  box-shadow: 0 0 15px rgba(0, 255, 102, 0.15);

  transition: 0.3s;
}

.box:hover {
  box-shadow: 0 0 25px #00ff66;
}
