
header.hero {
  width: 100%;
  min-height: calc(100vh - 120px);

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid rgba(0, 255, 136, 0.2);
}

/* ================= CONTAINER ================= */
.texto {
  width: 125%;
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  padding: 0 40px;
}

/* ================= TEXTO ================= */
.conteudo h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #00ff88;
}

.conteudo p {
  max-width: 560px;
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.7;
  color: #ddd;
}

.conteudo span {
  color: #00ff88;
}

/* ================= IMAGEM ================= */
.texto img {
  max-width: 480px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.texto img:hover{
  box-shadow: 0 0 20px  #00ff88; ;
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.9s ease;
}

.reveal.ativo {
  opacity: 1;
  transform: translateY(0);
}

/* variações opcionais */
.reveal-left {
  transform: translateX(-60px);
}

.reveal-right {
  transform: translateX(60px);
}

.reveal-scale {
  transform: scale(0.9);
}