* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #111;
  padding: 40px;
  border-radius: 15px;
  width: 500px;
  box-shadow: 0 0 15px #00ff88;
  animation: fadeIn 0.8s ease-in-out;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  color: #aaa;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #222;
  color: white;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid cyan;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #00ff88;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0f883e;
  transform: scale(1.03);
}

.sucesso {
  text-align: center;
  margin-top: 15px;
  color: #00ff88;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
